<ul class="nav nav-pills mb-3 border-bottom border-secondary" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="" data-toggle="pill" href="#pills-new" role="tab" aria-controls="pills-home"
      aria-selected="true">Stock Adjustment</a>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">

  <div class="tab-pane fade show active" id="pills-new" role="tabpanel" aria-labelledby="pills-home-tab">

    <form #hospitalForm="ngForm" [formGroup]="stockAdjustForm" (keydown.enter)="$event.preventDefault()"
      class="full-height">

      <h6 class="border border-primary p-2 mt-3 mb-4 bg-light text-white">Stock Adjustment Details</h6>

      <div class="row">
        <div class="col-lg-3">
          <div class="form-group row">
            <label for="" class="col-sm-4 col-form-label px-0 text-right" id="newStockLabelItemCd">Search By</label>
            <div class="col-sm-8">
              <ng-select [items]="items" bindLabel="name" [(ngModel)]="selectedItems"
                [ngModelOptions]="{standalone:true}" id="newStockBatch#" (change)="onClickItem($event)">
              </ng-select>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group row">
            <div class="col-sm-12">
           <!--    <input type="text" class="form-control" id="stockAdjustSearch" [(ngModel)]="search"
                [ngModelOptions]="{standalone:true}" 
                (keyup)="searchItemToGetBatch($event)"
                placeholder="search Item"> -->

                <ng-select id="itemUnMappeditem" [items]="itemsDropdown"  bindLabel="itemName"
                (search)="searchItem($event)" (change)="onItemSelected($event)"
                [ngModelOptions]="{standalone: true}" [(ngModel)]="search" placeholder="-- Select --"
                (keyup)="searchItemToGetBatch($event)">
              </ng-select>

            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group row">
            <label for="" class="col-sm-4 col-form-label px-0 text-right" id="newStockLabelItemCd">Batch # <span
                class="text-danger">*</span></label>
            <div class="col-sm-8">
              <!-- <input type="text" placeholder="Batch No" class="form-control" formControlName="batch"
                [(ngModel)]="batchNumber"> -->
                <ng-select [items]="batchArray" bindLabel="batchNo" [(ngModel)]="batchNumber"
                formControlName="batch" placeholder="-- Select -- " (change)="onBatchSelected($event)"
                >

                </ng-select>
              <div *ngIf="stockAdjustForm.get('batch')?.touched" class="error-msg-common text-danger">
                <div *ngIf="stockAdjustForm.get('batch').errors?.required">
                  * required field
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group row">
            <label for="" class="col-sm-4 col-form-label px-0 text-right" id="newStockLabelItemCd">Expiry <span
                class="text-danger">*</span></label>
            <div class="col-sm-8">
              <input type="date" placeholder="expiry date" class="form-control" [(ngModel)]="expiryDt"
                formControlName="expiry">
              <div *ngIf="stockAdjustForm.get('expiry')?.touched" class="error-msg-common text-danger">
                <div *ngIf="stockAdjustForm.get('expiry').errors?.required">
                  * required field
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center pt-2">
          <button class="btn btn-primary" (click)="onQuickChanged()" data-toggle="modal"
            [disabled]="checkFormDisability()" data-target="#itemSearchModal">Search</button>
        </div>
      </div>

      <div class="row">
        <div class="col-12 py-3">
          <ag-grid-angular style="width: 100%; height: 200px;" class="ag-theme-balham" [gridOptions]="stockGridOptions"
            [rowData]="stockItemArray" [columnDefs]="columnDefsformain">
          </ag-grid-angular>
        </div>
      </div>

      <div class="row">
        <div class="col mb-3 pt-2 text-center">
          <button class="btn btn-primary px-4" (click)="onSubmit()">Update Stock</button>
        </div>
      </div>

    </form>

  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="itemSearchModal" tabindex="-1" role="dialog" aria-labelledby="itemSearchModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-group row">
          <div class="col-sm-12">
            <ag-grid-angular style="width: 100%; height: 200px;" class="ag-theme-balham" [rowData]="rowData"
              [columnDefs]="columnDefs" [gridOptions]="itemGridOptions">
            </ag-grid-angular>
          </div>

          <div class="col-sm-12 text-center pt-3">
            <button type="button" data-dismiss="modal"
              [disabled]="itemGridOptions?.api?.getSelectedRows()?.length === 0" class="btn btn-primary px-4 mr-2"
              (click)="getSelectedStockItems()">OK</button>
            <button type="button" class="btn btn-secondary px-4" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng4-loading-spinner [loadingText]="'Please wait...'" [timeout]="400000000"> </ng4-loading-spinner>