 span#showPassword{
  position: relative;
  left: -19px;
  top: 5px;
  z-index: 10000;
  } 
  span#showPassword1{
    position: relative;
    left: -19px;
    top: 5px;
    z-index: 10000;
    } 
    span#showPassword2{
      position: relative;
      left: -19px;
      top: 5px;
      z-index: 10000;
      } 